<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.cookbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".BrowseActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".WriteActivity"
            android:label="Write New Recipe"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>

        <activity android:name=".UploadActivity"
            android:label="Upload Recipes"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>

        <activity android:name=".ChooseRecipesActivity"
            android:label="Create Grocery List"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>

        <activity android:name=".DisplayActivity"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>

        <activity android:name=".RecipeStepActivity"
            android:parentActivityName=".DisplayActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".DisplayActivity">

            </meta-data>
        </activity>

        <activity android:name=".GroceryListActivity"
            android:label="Grocery List"
            android:parentActivityName=".ChooseRecipesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".ChooseRecipesActivity">

            </meta-data>
        </activity>

        <activity android:name=".EditActivity"
            android:parentActivityName=".DisplayActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".DisplayActivity">

            </meta-data>
        </activity>

        <activity android:name=".CategoryActivity"
            android:theme="@style/DialogTheme"
            android:label="Categories/Tags">

        </activity>

        <activity android:name=".ShareActivity"
            android:theme="@style/DialogTheme"
            android:label="Share">

        </activity>

        <activity android:name=".ManageCategoriesActivity"
            android:label="Manage Categories/Tags"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>

        <activity android:name=".HelpActivity"
            android:label="Help"
            android:parentActivityName=".BrowseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value = ".BrowseActivity">

            </meta-data>
        </activity>
    </application>

</manifest>